
div#hd {
	background-color: black;
	margin: auto;
	height: 100px;
	background: #558EAD url(../images/header_bg.gif) repeat scroll 0%;
    margin-bottom: 12px;
}

#hdtitle {
    margin-left: 10px;
    font-size: 50px;
    font-family: Verdana;
    font-weight: bold;
    color: white;
}

#hdtitle a:link, .blogtitle a:visited, #hdtitle a {

    color: white;
    text-decoration: none;

}

.tagCloud a {

    color: #676767;
    text-decoration: none;
    font-weight: bold;

}

.tagCloud a:hover {

    text-decoration: underline;
    font-weight: bold;

}

#hdtitle a:hover {

    text-decoration: underline;

}


#hdsubtitle {
    margin-left: 10px;
    font-size: 20px;
    font-family: Verdana;
    color: white;
}

body {
    background: #fff;
    color: #333;
    font: verdana, arial, helvetica, sans-serif;
    text-align: left;
    margin: auto;
}

.flash {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
    background-color: pink;
}

div.niceBox {
    background-color: #e4ecec ;
    margin: 1em;
    padding: 1em;
    margin-bottom: 3em;
}

.niceBox li {
    list-style-type: none;
}


div#footerText {
    background-color: #e4ecec ;
    text-align: center;
    padding: 4px;
}

.approvalLink {
    float: right;
    margin: 3px;
}

.deleteLink {
    float: right;
    margin: 3px;
}

.blogentry {
    margin-top: 1em;
}

.blogtitle {
    padding-top: 7px;
}

.blogdate {
    margin-bottom: 2em;
}

.blogtitle a:link, .blogtitle a:visited {

    color: #6e7d8e;
    text-decoration: none;
    font-size: x-large;

}

.blogtitle a:hover {

    text-decoration: underline;

}

.archiveMonth {
    font-size: large;
    margin-top: 1em;
    margin-bottom: 5px;
}

.archiveTable {
    width: 100%;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}

.archiveTable tr {
    height: 2em;
}

.archiveDate {
    width: 2em;
}
.archiveTags {
    width: 10em;
}
.archiveComments {
    width: 2em;
    text-align: right;
}

.archivePaginate {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}
/* archive breakcrumbs */
.archivePaginate a {
    margin-left: 3px;
    margin-right: 3px;

}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

ul {
    list-style: square;
    
}

li {
    margin-left: 2em;
    margin-bottom: 4px;
}

.blogtitle {
    
}

.blogdate {
    color: #6e7d8e;
    font-size: small;
}

.printIcons {
    float: right;
}

.blogTags {
    border-bottom: 1px dotted black;
}

/* Blog comments */

.blogcomments {
    margin-top: 5px;
    padding: 1em;
    background-color: #e6e6e6;

}

.blogcomment {
    
}

.blogcommentEven {
    background-color: white;
}

.blogcommentOdd {
    background-color: lightgray;
}


/* All that Blog Rolodex Jazz. Inspiration from http://www.wynia.org/wordpress/2005/09/05/css-date-blocks-for-blogs/ */

.dateblock {
   text-align: center;
   width: 50px;
   font-family: Arial;
   border: 1px solid black;
   background-color: #fa9b39;
   color: white;
   margin-right: 5px;
}
.day {
    font-size: 26px;
    position: relative;
    top: -5px;
}
.month {
    font-size: 12px;
    margin-top: 3px;
}
.year {
    font-size: 12px;
    position: relative;
    top: -10px;
}


.blogRolodex {
    float: left;
}

/* Stuff for the tag clouds */

.tagCloudSize0 { font-size: xx-small; }
.tagCloudSize1 { font-size: small;  }
.tagCloudSize2 { font-size: medium;  }
.tagCloudSize3 { font-size: large;  }
.tagCloudSize4 { font-size: xx-large;  } 
